#header {
    background-color: #434343;
    width: 100%;
    height: 80px;
    text-align: left;
    padding-left: 25px;
}

#header span {
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    color: #fff;
}